In [23]:
import pandas as pd

df = pd.read_csv("D:/Programming/Python/RankPredictor/2024 round 2.csv")
# print(df.head())
print(df["Seat Type"].unique())
df = df[(df["Seat Type"] == "ST") & (pd.to_numeric(df["Closing Rank"], errors="coerce") >= 45933)]
df.sort_values(by="Closing Rank", key=lambda x: pd.to_numeric(x, errors="coerce"), ascending=True)

['OPEN' 'EWS' 'OBC-NCL' 'SC' 'ST' 'OPEN (PwD)' 'OBC-NCL (PwD)' 'SC (PwD)'
 'EWS (PwD)' 'ST (PwD)']

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
4147,National Institute of Technology Agartala,"Mechanical Engineering (4 Years, Bachelor of T...",HS,ST,Gender-Neutral,2657,45933